body{
    padding: 0px;
    margin: 0px;
}
.container{
    text-align: center;
    border: 0.1px solid rgb(168, 167, 167);
    margin: 5% 20% 0% 20%;
    padding-top: 1%;
    padding-bottom: 2%;
}
h1{
    font-size: 243%;
    margin-top: 0px;
    color: rgb(59, 59, 59);
    
}
table{
    margin-left: 12%;
    
}
tbody{
    align-items: initial;
}
td{
    padding-left: 0px;

}
p{
    margin-left: 0px;
}
button{
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 3;
    background-color: rgb(82, 80, 80);
    color:black ;
    border: none;
    border-radius: 5px;
}


#pssword::-webkit-input-placeholder{
    font-size: smaller;
}
@media screen and (max-width:700px){
    .container{
        margin-right: 2%;
        margin-left: 2%;
    }
}
@media screen and (max-width:475px){
    table{
        margin-left: 0%;
        size: 300%;
    }
}
@media screen and (max-width:275px){
    tr{
        display: flex;
        
        flex-direction: column;
    }
    table{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }
    input{
        width: 90%;
    }
}
@media screen and (max-width:345px){
    button{
        width: auto;
    }
}
